html, body{
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.brand, #home, #about, #portfolio, #contact {
	font-family: 'Source Sans Pro', sans-serif;
}

.project-title {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	color: #6d5a49;
}

#page_1 {
  background: #000000 url(../assets/images/books-wallpaper1.jpg) no-repeat 00;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: auto;
  min-height: 700px;
  margin: 0;
  padding: 0;
}

#page_2 {
  background: #111111 url(../assets/images/Background_2.jpg) repeat 00;
  background-position: center;
  background-size: cover;
  height: auto;
  min-height: 700px;
}

#page_3 {
  background: #111111
url(../assets/images/Office-Wallpapers3.jpg) no-repeat 00;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: auto;
  min-height: 700px;
}

#page_4 {
  background: #111111 url(../assets/images/office-wallpaper4.jpg) no-repeat 00;
  background-position: center;
  background-size: cover;
  min-height: 700px;
  height: auto;
}

.general-content-wrapper {
  max-width: 100%;
  margin: 0 0;
}

.projects-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.project {
  width: 20rem;
  margin: 0 auto;
}

.project-caption > p{
  padding: 0 12px;
  flex: 1;
}

.contacts-link-wrapper {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.contact__link {
  width: 100%;
  text-align: center;
  margin: 1rem auto;
}

.banner {
  background-color: rgba(211,211,211, 0.3);
}

#title-container {
  margin-top: 160px;
}

#title {
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 4.5em;
}

/* Needs to be edited!  */
.squares {
  background-color: rgba(50,50,50, 0.8);
  color: white;
}

.square1 {
  font-size: 1em;
  padding: 30px;
  text-indent: 30px;
  top: 100px;
}

.square2 {
  font-size: 1em;
  left: 0;
  margin-bottom: 10.5rem;
  padding: 30px;
  position: relative;
  text-indent: 30px;
  top: 7rem;
}

#header {
  color: #f7bf8f;
  font-family: 'Source Sans Pro', sans-serif;
}

#bioTitle {
  color: #aca5a0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 4px 4px 3px #333;
}

#portfolioTitle {
  color: #947255;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 50px;
  text-shadow: 4px 4px 3px #999;
}

#contactTitle {
  color: #aca5a0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 100px;
  text-shadow: 4px 4px 3px #333;
}

#freecodecamp {
  color: green;
  font-size: 1.9em;
  font-weight: bold;
  top: 20px;
}

#freecodecamp:hover, #freecodecamp:active, #freecodecamp:focus {
  text-decoration: none;
}


.img-circle {
  border: 3px solid #666;
  display: none;
  margin-top: 20vh;
  visibility: hidden;
}

.links {
  margin-top: 40px;
}

#email {
  height: 100px;
  width: 100px;
}

#linked {
  border: 0;
  height: 65px;
  width: 260px;
}

#github {
  border: 0;
  height: 100px;
  width: 100px;
}

.thumbnail {
  background-color: #f0eae3;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 750px) {
  .general-content-wrapper {
    max-width: 80%;
    margin: 0 auto;
  }

  .contact__link {
    width: 50%;
    text-align: center;
    height: 6rem;
    margin: 3rem auto;
  }

  .square2 {
    left: 20px;
    top: 5rem;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 970px) {
  #title {
    font-size: 6.5em;
    display: inline;
  }
  .squares {
    font-size: 1.25em;
  }
  #freecodecamp {
  font-size: 2.5em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1170px) {

}


/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/
